
<style>
  body {
  /*background: rgb(204, 204, 204); */
  font-family: Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
  font-size: 13px;
  background: #3a6682;
}
.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

}
.page.landscape {
  width: 21cm;
  height: 29.7cm;
}
.page.portrait {
  width: 29.7cm;
  height: 21cm;
}
@media print {
  body,
  .page {
    margin: 0;
    box-shadow: 0;
  }
}
.col_left {
  height: 29.7cm;
  background-color:#152535;
  font-family: Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
  font-size: 12px;
  color:white;
}
.col_right {
  height: 29.7cm;
  background-color:#e2e2e4;
}
.col_left_line_center{
  margin:2px;
  text-align:center;
  align-items:center;

}
.col_left_line_left{
  margin:2px;
  text-align:left;
  align-items:top;

}
</style>

<div class="page landscape">

<div class="container">
  <div class="row">
    <div class="col-4 col_left"  >
      <div class="row">
        <div class="col col_left_line_left"  >  </div>
      </div>
        <div class="row">
          <div class="col col_left_line_center"  >
            <img  src="{{config.path_photo}}"   alt="..." style="width:150px; height:150px;"  class="shadow-sm p-1 mb-1 bg-white rounded">
            <label>{{ config.name }}</label>
            <label>{{ config.profession }}</label>
          </div>
        </div>
        <div class="row">
          <div class="col col_left_line_left"  ><span> </span></div>
        </div>
        <div class="row">
          <div class="col col_left_line_left"  >Coluna</div>
        </div>
        <div class="row">
          <div class="col col_left_line_left"  >Coluna</div>
        </div>


    </div>
    <div class="col-8 col_right" >col-8vv</div>
  </div>
</div>

</div>

<div class="page landscape"  >
  <div class="container">
    <div class="row">
      <div class="col-4 col_left"  >col-4vvv</div>
      <div class="col-8 col_right" >col-8vv</div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
